html,
body {
  height: 100%;
  margin: 0;
}
#root {
  max-width: 428px;
  height: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}
.meals-list {
  padding: 0;
}
.addMeal {
  font-size: 20px;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
  background-color: rgb(36, 65, 185);
  color: white;
}
.addMeal:hover {
  color: black;
}
@media (min-width: 700px) {
  #root {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    width: 100vw;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .main {
    row-gap: 0;
  }
  .meals-title {
    margin-top: 5%;
    margin-bottom: 0;
  }
  .meals-list {
    margin-bottom: 5%;
  }
}
